@{
Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookTable</title>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("BookRoomTable", new AjaxOptions { UpdateTargetId = "results" }))
        {
            @Html.DropDownList("id", Model.Rooms as SelectList, "--", new { @class = "form-control" })
            <br>
            <input type="submit" value="Поиск" />
        }
        <div id="results">
            
        </div>
    </div>
</body>
</html>





