@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br>
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


    <div>
        @using (Ajax.BeginForm("GetRecords", new AjaxOptions { UpdateTargetId = "results" }))
        {
            @Html.DropDownList("id", Model.Rooms as SelectList, "--", new { @class = "form-control" } )
            <br>
            <input type="submit" value="Поиск"/>
        }
        <div id="results">
            @Html.Action("GetRecords",new { area ="Admin"})
        </div>
    </div>
</body>
</html>
