@model IEnumerable<HotelData.Entities.Record>


<style>
.trRed{
    background-color: rgba(255,0,0,0.6);
}
.trGrey{
    background-color: rgba(125,125,125,0.6);
}
.trPurple{
    background-color: rgba(63,26,89,0.6);
}
</style>

<div id="searchresults">

    <h3>Все комнаты</h3>
    <br />
    @Html.Partial("RecordsTable",Model)
</div>
